
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}


header {
    background-color: #ff00006b;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

header p {
    font-size: 1.2em;
    margin-bottom: 15px;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    font-size: 1.1em;
}

nav a:hover {
    text-decoration: underline;
}


section {
    margin: 30px 0;
}

section h2 {
    font-size: 2em;
    margin-bottom: 10px;
    color: #007BFF;
}

section p {
    font-size: 1.1em;
    margin-bottom: 15px;
}

strong {
    font-weight: bold;
}


img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}



form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input[type="text"], form input[type="email"], form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

form input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #0056b3;
}


footer {
    text-align: center;
    margin-top: 50px;
    background-color: #333;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
}

footer address {
    font-style: normal;
    margin-bottom: 10px;
}

footer p {
    font-size: 0.9em;
    color: #bbb;
}

h3 {


    text-align: center;
}